<div class="wrapper">
<% for (let game of games) { %>
    <section class="games">
        <a href="/game/<%= game.id %>" class="sport">
        <h1><%= game.sport %></h1>
        </a> 
        <h2>Where: <%= game.location %></h2>

        <h2><%= game.date %></h2>
        <h2>Game hosted by: <img src="<%= game.profile_pic %>" class="profile-pic"> <%= game.name %></h2>
    </section>
<% } %>
</div>


