<% for (let game of games) { %>
<a href="/game/<%= game.id %>">
    <h1><%= game.sport %></h1>
</a> 
<h2>Where: <%= game.location %></h2>

<h2>Time: <%= game.time %></h2>
<h2>Game hosted by: <img src="<%= game.profile_pic %>" class="profile-pic"> <%= game.name %></h2>
<% } %>



